ldap_nginx_password="{{ zimbra_password }}"
CREATEADMINPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
ldap_nginx_password="{{ zimbra_password }}"
ldap_bes_searcher_password="{{ zimbra_password }}"
AVDOMAIN=""
AVUSER="admin@{{ default_domain }}"
CREATEADMIN="admin@{{ default_domain }}"
CREATEDOMAIN="{{ default_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="no"
ENABLEGALSYNCACCOUNTS=""
EXPANDMENU="no"
HOSTNAME="mta.{{ default_domain }}"
HTTPPORT="80"
HTTPPROXY="FALSE"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="ldap.{{ default_domain }}"
LDAPPORT="389"
MAILBOXDMEMORY="460"
MAILPROXY="FALSE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SMTPDEST="admin@mta.{{ default_domain }}"
SMTPHOST="mta.{{ default_domain }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@mta.{{ default_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="mta.{{ default_domain }}"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="1.8"
TRAINSAHAM="nospam@{{ default_domain }}"
TRAINSASPAM="spam@{{ default_domain }}"
UPGRADE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="no"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus@{{ default_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="T2uiX9vd3R"
mailboxd_truststore="/opt/zimbra/java/jre/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDefaultDomainName="{{ default_domain }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMtaMyNetworks="127.0.0.0/8 10.10.0.0/24 [::1]/128 [fe80::]/64"
zimbraPrefTimeZoneId="America/Santiago"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@{{ default_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ default_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraVersionCheckServer="020becfe-f69b-4f8d-9242-44266eb89579"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-mta "
