ldap_nginx_password="{{ zimbra_password }}"
CREATEADMINPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
ldap_nginx_password="{{ zimbra_password }}"
ldap_bes_searcher_password="{{ zimbra_password }}"
AVDOMAIN="mailbox.{{ default_domain }}"
AVUSER="admin@mailbox.{{ default_domain }}"
CREATEADMIN="admin@{{ default_domain }}"
CREATEDOMAIN="{{ default_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="no"
DOTRAINSA="yes"
ENABLEGALSYNCACCOUNTS=""
EXPANDMENU="yes"
HOSTNAME="mailbox.{{ default_domain }}"
HTTPPORT="80"
HTTPPROXY="FALSE"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/java"
LDAPDEFAULTSLOADED="1"
LDAPHOST="ldap.{{ default_domain }}"
LDAPPORT="389"
MAILBOXDMEMORY="460"
MAILPROXY="FALSE"
MODE="both"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ default_domain }}"
SMTPHOST="mta.{{ default_domain }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ default_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="mailbox.{{ default_domain }}"
SPELLURL="http://mailbox.{{ default_domain }}:7780/aspell.php"
STARTSERVERS="yes"
SYSTEMMEMORY="1.8"
TRAINSAHAM="nospam@{{ default_domain }}"
TRAINSASPAM="spam@{{ default_domain }}"
UIWEBAPPS="yes"
UPGRADE="yes"
USEKBSHORTCUTS="TRUE"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus@{{ default_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="2a9XM9ms"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/java/jre/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraDefaultDomainName="{{ default_domain }}"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="FALSE"
zimbraPrefTimeZoneId="America/Santiago"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckInterval="1d"
zimbraVersionCheckNotificationEmail="admin@{{ default_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ default_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraVersionCheckServer=""
zimbraWebProxy="FALSE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-logger zimbra-snmp zimbra-store zimbra-apache zimbra-spell "
