ldap_nginx_password="{{ zimbra_password }}"
CREATEADMINPASS="{{ zimbra_password }}"
LDAPAMAVISPASS="{{ zimbra_password }}"
LDAPPOSTPASS="{{ zimbra_password }}"
LDAPROOTPASS="{{ zimbra_password }}"
LDAPADMINPASS="{{ zimbra_password }}"
LDAPREPPASS="{{ zimbra_password }}"
ldap_nginx_password="{{ zimbra_password }}"
ldap_bes_searcher_password="{{ zimbra_password }}"
AVDOMAIN=""
AVUSER="admin@{{ default_domain }}"
CREATEADMIN="admin@{{ default_domain }}"
CREATEDOMAIN="{{ default_domain }}"
DOCREATEADMIN="no"
DOCREATEDOMAIN="yes"
EXPANDMENU="yes"
HOSTNAME="ldap.{{ default_domain }}"
HTTPPORT="80"
HTTPPROXY="FALSE"
HTTPPROXYPORT="8080"
HTTPSPORT="443"
HTTPSPROXYPORT="8443"
IMAPPORT="143"
IMAPPROXYPORT="7143"
IMAPSSLPORT="993"
IMAPSSLPROXYPORT="7993"
INSTALL_WEBAPPS="zimlet"
JAVAHOME="/opt/zimbra/java"
LDAPBESSEARCHSET="set"
LDAPHOST="ldap.{{ default_domain }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="256"
MAILPROXY="FALSE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="110"
POPPROXYPORT="7110"
POPSSLPORT="995"
POPSSLPROXYPORT="7995"
PROXYMODE="https"
REMOVE="no"
RUNVMHA="no"
SMTPDEST="admin@{{ default_domain }}"
SMTPHOST=""
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ default_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="ldap.{{ default_domain }}"
SPELLURL=""
STARTSERVERS="yes"
SYSTEMMEMORY="1.0"
UPGRADE="yes"
USESPELL="no"
ZIMBRA_REQ_SECURITY="yes"
ldap_dit_base_dn_config="cn=zimbra"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/conf/keystore"
mailboxd_keystore_password="TxjhyU9D"
mailboxd_truststore="/opt/zimbra/java/jre/lib/security/cacerts"
mailboxd_truststore_password="changeit"
ssl_default_digest="sha256"
zimbraIPMode="ipv4"
zimbraPrefTimeZoneId="America/Santiago"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap "
