127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6


{{ zimbra_ldap_ip }} {{ zimbra_ldap_fqdn }} ldap
{{ zimbra_mailbox_ip }} {{ zimbra_mailbox_fqdn }}  mailbox
{{ zimbra_mta_ip }} {{ zimbra_mta_fqdn }} mta
